<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687121477978-1p3c8l9pbki4bic0090unjq9dc10e5sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687121477978-1p3c8l9pbki4bic0090unjq9dc10e5sg</string>
	<key>API_KEY</key>
	<string>AIzaSyDfdcqMU2lcdkpIOTBbtLdVUDagmRVSuKk</string>
	<key>GCM_SENDER_ID</key>
	<string>687121477978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scarkest.buycar</string>
	<key>PROJECT_ID</key>
	<string>scarkest-personal-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>scarkest-personal-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687121477978:ios:5d19b54dec2794ae3ac363</string>
	<key>DATABASE_URL</key>
	<string>https://scarkest-personal-projects-default-rtdb.firebaseio.com</string>
</dict>
</plist>